@font-face {
  font-family: "Sans-Regular";
  src: url(../fonts/Sans-Regular.ttf);
}

@font-face {
  font-family: "Sans-Medium";
  src: url(../fonts/Sans-Medium.ttf);
}

@font-face {
  font-family: "Sans-DemiBold";
  src: url(../fonts/Sans-DemiBold.ttf);
}

@font-face {
  font-family: "Sans-Bold";
  src: url(../fonts/Sans-Bold.ttf);
}
